<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div>아이디 : <input v-model="userId"></div>
            <div>비밀번호 : <input v-model="password"></div>
        </div>
        <div><button class="button" @click="fnLogin">로그인</button></div>
    </div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                userId : "",
                password : ""

            };
        },
        methods: {
            fnLogin() {
                let self = this;
                fetch("http://localhost:3000/login", {
                    method : "POST",
                    headers : {
                        "Content-type" : "application/json"
                    },
                    body : JSON.stringify({
                        userId : self.userId,
                        password : self.password
                    })
                })
                .then((res) => res.json())
                .then(data => {
                    alert(data.message);
                });
            },


        },
        mounted() {
            let self = this;


        }
    });
    app.mount('#app');
</script>